.currentRate {
  padding: 200px 0 350px 0;
  background-image: url(../../images/currency-exchange.jpg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.centre {
  width: 250px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
